html, body, #LoroAdmin {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-size: .875rem;
  background-color: #ffffff;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

a {
  color: #47c198;
}
#LoroAdmin .container-fluid {
  min-height:100%;
  position:relative;
  padding-right: 0;
  padding-left: 0;
}
#LoroAdmin .container-fluid > .row {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 35px;
}
#LoroAdmin .container-fluid > .row > .container-fluid > .row {
  padding-top: 58px;
}
#LoroAdmin .container-fluid > .row > .col-12 {
  padding-right: 0;
  padding-left: 0;
}
#LoroAdmin .card {
  margin: 1em auto 0 auto;
}
#LoroAdmin .navbar-dark.bg-blue {
  background-color: #3b5998;
}
#LoroAdmin footer {
  position:absolute;
  bottom:0;
  width:100%;
}
[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}