.navbar-brand {
    padding-top: .55rem;
    padding-bottom: .55rem;
    font-size: 1rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.navbar-nav.px-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.navbar-brand .card-img {
    height: 24px;
}