#circle {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 150px;
 height: 150px;
}

#circle > img {
 animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
} 